@import '../../../styles/app.scss';

.create-new {
  h1 {
    text-transform: capitalize;
    text-align: center;
  }

  p {
    margin-bottom: 0;
  }

  form {
    @media #{$bp-600} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0.5em;
      max-width: 900px;
      margin: 0 auto;

      .button--main {
        grid-column: 1;
        grid-row: 4;
      }

      .button--secondary {
        grid-column: 2;
        grid-row: 4;
      }
    }
  }
}
