$black: #0a0a0aff;
$lavender: #776c80ff;
$artichoke: #7e8d6eff;
$margarine: #ffe57cff;
$white: #fafafaff;

$body-font: "Barlow", sans-serif;
$display-family: "Bigshot One", cursive;
$header-family: "Vidaloka", serif;
